*{margin: 0px;
  padding:0px;
  box-sizing: border-box;}

#wrapper{
    width: 50%;
    margin-top:10px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    justify-content: center;
    color: cyan;
    font-size: 2.5cm;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 18px;
}

.div{
  border-radius: 20px;
}

.color{
  color: black;
}

.color2{
  color: cyan;
}

